<%- include('partials/header') %>

    <div
        class="min-h-screen flex items-center justify-center bg-gradient-to-br from-blue-200 via-blue-300 to-blue-400 px-4">
        <div
            class="backdrop-blur-md bg-white/30 border border-white/40 shadow-xl rounded-3xl px-8 py-10 space-y-6">
            <ol class="space-y-5">
                <% for(let i=0; i < userList.length; i++) { %>
                    <%- include ('partials/users', {user: userList[i]}) %>
                <% } %>
            </ol>

            <% if (updatedUser) { %>
                <h2 class="text-m  font-bold text-slate-700 drop-shadow">
                    <span class="text-red-600"><%= updatedUser %></span>'s access has been changed to <span class="text-red-600"><%= newRole %></span>
                </h2>
            <% } %>
        </div>
    </div>

    <%- include('partials/footer') %>